---
layout: minimal
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<body>
    <div class="main" id="top">
        <div class="main-content-wrap">
            <div id="main-content" class="main-content">
                <main>
                    <div class="logo">
                        <a href="{{ site.baseurl | default: '/' }}">
                            <img src="{{ '/assets/images/Zynapte.png' | relative_url }}" style="height: 300px"
                                alt="{{ site.title }}" class="logo-image">
                        </a>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>